<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Milestone Catalog</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="confirm()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-accordion-group [multiple]="true" class="spiced-tree">
  <ion-accordion *ngFor="let catNode of treeData" [value]="catNode.category.id">
    
    <ion-item slot="header" color="light" lines="none" class="category-header">
      <ion-icon name="folder-open-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2 class="category-title">
          {{ 'MILESTONE_CATEGORIES.' + catNode.category.milestone_category_key | translate }}
        </h2>
        <p>{{ (catNode.orphanObjectives.length + catNode.subcategories.length) }} Items Available</p>
      </ion-label>
    </ion-item>

    <div slot="content" class="accordion-content">
      <ion-list lines="full">
        
        <ng-container *ngIf="catNode.orphanObjectives.length > 0">
          <ion-item *ngFor="let obj of catNode.orphanObjectives" 
                    [class.logged-item]="obj.is_already_logged === 1"
                    class="objective-item">
            <ion-checkbox 
              slot="start" 
              [checked]="obj.is_already_logged === 1"
              [disabled]="obj.is_already_logged === 1"
              (ionChange)="toggleObjective(obj)">
            </ion-checkbox>
            <ion-label class="ion-text-wrap">
              {{ 'MILESTONE_OBJECTIVES.' + obj.objective_key | translate }}
            </ion-label>
            <ion-badge *ngIf="obj.is_already_logged === 1" color="success" slot="end" mode="ios">
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-badge>
          </ion-item>
        </ng-container>

        <ng-container *ngFor="let subNode of catNode.subcategories">
          
          <ion-item-divider sticky color="white" class="subcategory-divider">
            <ion-label color="secondary">
              <ion-icon name="chevron-forward-outline" class="v-align-middle"></ion-icon>
              {{ 'MILESTONE_SUBCATEGORIES.' + subNode.subcategory.subcategory_key | translate }}
            </ion-label>
          </ion-item-divider>

          <ion-item *ngFor="let obj of subNode.objectives" 
                    [class.logged-item]="obj.is_already_logged === 1"
                    class="objective-item sub-item">
            <ion-checkbox 
              slot="start" 
              [checked]="obj.is_already_logged === 1"
              [disabled]="obj.is_already_logged === 1"
              (ionChange)="toggleObjective(obj)">
            </ion-checkbox>
            <ion-label class="ion-text-wrap">
              {{ 'MILESTONE_OBJECTIVES.' + obj.objective_key | translate }}
            </ion-label>
            <ion-badge *ngIf="obj.is_already_logged === 1" color="success" slot="end" mode="ios">
              DONE
            </ion-badge>
          </ion-item>

        </ng-container>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>

</ion-content>